*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Exo', sans-serif;
}
a {
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
li{
	list-style: none;
}


.header{
	width: 100%;
	height: 100vh;
	/*background-image: linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)), url('../images/aaa.jpg');*/
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../images/aaa.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	clip-path: polygon(100% 0%, 100% 88%, 0 100%, 0 0);
	position: relative;
	

}
.header:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.8;
	z-index: -1;
	/*background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%,#16c9f6 100%);*/
	background: linear-gradient(to right,#1B1464,#1B1464);
}


.navbar:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.8;
	z-index: -1;
	/*background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%,#16c9f6 100%);*/
	background:  linear-gradient(to right,#1B1464,#1B1464);

}
.nav-item a {
	color: #fff !important;
	letter-spacing: 1px;
	font-weight: bold;

}
.nav-item a:hover{
	border-bottom: 3px solid #fff;
	transition: .3s;
	color: #EA2027 !important;
}
.header-section {
	width: 100%;
	height: inherit;
	color: #fff;
	position: relative;
	text-align: center;
}
.center-div{
	width: 100%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	letter-spacing: 1px;

}
.header-buttons a {
	border: 1px solid white;
	border-radius: 100px;
	margin: 0 5px;
	padding: 12px 35px;
	color: #EA2027;
	font-size: 1rem;
	font-weight: bold;
	line-height: 1.4;
	text-align: center;
	transition: .6s;
	background: #fff;

}
.header-buttons a:hover{
	color: #fff;
	background: #EA2027;
	text-decoration: none;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
}
.center-div h1{
	font-size: 3.5rem;
}
.center-div p{
	font-size: 1.3rem;
	padding: 10px 0 20px 0;
	color: #fff;
}
/*=========================extra div header===========================*/
.extra-header {
	width: 100%;
	height: auto;
	margin: 100px 0;
	font-size: .9rem;

}
.extra-div{
	background: #fff;
	border-radius: 3px;
	border: medium none;
	padding: 40px !important;
	transition: 0.4s;
	text-align: center;
	word-spacing: 1px;
	box-sizing: border-box;


}
.extra-div i{
	color: #EA2027 !important;
}
.extra-div:hover{
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
	transform: translateY(-20px);

}
/*===============================about=====================*/
.about-section img:hover{
	background: rgba(0,0,0,0.4);
}
/*===============================SKILL=====================*/
.skill{
	width: 100%;
	height: auto;
	margin: 100px 0;
	padding: 30px 0;
}
.pro:hover {
	color: #EA2027;	

	transition: .4s;
}
.project{
	width: 100%;
	margin: 100px 0;
	background: #1B1464 !important;
	color: #fff !important;
}
/*=================price=================================*/
.pricing{
	width: 100%;
	height: auto;
	padding: 50px;
	position: relative;
}
.pricing:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.8;
	z-index: -1;
	/*background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%,#16c9f6 100%);*/
	/*background: linear-gradient(160deg, #0abde3 55%, #fff 0%);*/
}
.money{
	font-size: 28px;
	color: #1B1464;
	font-weight: bold;
}
.card{
	transition: 0.4s ease;

}
.card-header{
	font-size: 1.6rem;

}
.card-body{
	padding: 25px 0px !important;

}
.card-footer{
	border: none !important;
}
.card-body li{
	margin: 7px 0;
	color: #606060;
	font-size: 15px;
	line-height: 1.6;
}
.card:hover{
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
	transform: translateY(-10px);
	color: #EA2027; 
}
.card-footer {
	background: #fff;

}
.card .btn{
	border: 1px solid white;
	border-radius: 100px;
	margin: 0 5px;
	padding: 12px 35px;
	color: #fff;
	font-size: 1rem;
	line-height: 1.4;
	text-align: center;
	transition: .6s;
	background: #1B1464;
}
.card .btn:hover{
	color: #fff;
	background: #EA2027;
	text-decoration: none;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
	border: none;
}
/*================================contact-form=========================*/
.contact-form{
	width: 100%;
	height: 100vh;
	padding: 80px 0;
	position: relative;

}
.contact-form:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	/*background: linear-gradient(330deg, #0abde3 55%, #fff 0%);*/
}
.contact-form .btn{
	border: 1px solid white;
	border-radius: 100px;
	margin: 0 5px;
	padding: 12px 35px;
	color: #fff;
	background: #1B1464 !important;
	font-size: 1rem;
	line-height: 1.4;
	text-align: center;
	transition: .6s;
}
.contact-form .btn:hover{
	color: #fff !important;
	background: #EA2027 !important;
	text-decoration: none;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
	border: none;
}

::placeholder{
	font-size: .8rem;
}

.footer-section{
	width: 100%;
	height: auto;
	padding-top: 70px;
	padding-bottom: 20px;
	background: #1B1464 !important;
	color: #fff !important;
	font-size: 14px;

}
.footer-section li{
	list-style: none;
}
.footer-section a{
	text-decoration: none;
	color: #fff;
}